PORT = 8000
MONGODB_URI=mongodb+srv://rupeshSingh:<your-password>@cluster0.ctzlhuf.mongodb.net/videotube?retryWrites=true&w=majority

# Replace <your-password> with your MongoDB password and remove the angle brackets.